.app-header {
  background: #2c3e50;
  color: #fff;
}

.header-link:link,
.header-link:visited,
.header-link:hover {
  color: #fff;
  text-decoration: none;
}

.release {
  font-size: 1.3rem;
}

footer {
  background: #2c3e50;
}

.icon-grid:link,
.icon-grid:hover,
.icon-grid:visited {
  color: #fff;
}

footer .container {
  display: flex;
  justify-content: center;
}

.wrapper {
  overflow-x: hidden;
}

.movie-wrapper {
  overflow-x: hidden;
}
